{control form begin}
	{control form errors}
		<p>
			{$control["form"]["username"]->label}
			{$control["form"]["username"]->control}
		</p>
		<p>
			{$control["form"]["password"]->label}
			{$control["form"]["password"]->control}
		</p>
		<p>
			<label>&nbsp;</label>
			{$control["form"]["login"]->control}
		</p>
{control form end}
